<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Challenge </title>
</head>
<body>

<p>Email:</p>
<p><%= @content[@user.to_sym][:email] %></p>

<p>Interests:</p>
<p><%= @content[@user.to_sym][:interests].join(", ") %></p>


<div>
	<p> There are <%= @content.size %> users with a total of <%= count_interests %> interest. </p>
</div>
</body>
</html>